---
import MainLogo from "#entities/mainLogo/ui/mainLogo.astro";
import AreaSwitcher from "#entities/areasSwitcher/ui/areaSwitcher.vue";
import './mainMenu.scss';
import Button from '#shared/button/button.astro'


import {Image} from "astro:assets";

import Icon from "#shared/icons/areaSwith.svg";


import areas from "#app/area/areas.json";
const { logoArea, logoLink} = Astro.props;

---

<nav class="mainMenu">
    <div class="mainMenu__logo">
        <MainLogo logoLink={logoLink} logoArea={logoArea}></MainLogo>
        <AreaSwitcher client:load>
            <Image  slot="icon" src={Icon} alt="Иконка"></Image>
            <div slot="areaList">{areas.map((area)=> area.link !== logoLink && <MainLogo logoLink={area.link} logoArea={area.name}></MainLogo>)}</div>
        </AreaSwitcher>
    </div>
    <div class="mainMenu__content">
        <slot name="menuContent"></slot>
    </div>
    <div class="mainMenu__end">
        <Button size="md" type="filled" color="white" text="Связаться"/>
    </div>
</nav>