---
import "./button.scss";
import { Icon } from 'astro-icon/components'

import type inteface from "./interface";

type Props = inteface;

var {buttonColor, buttonType, buttonSize, buttonIcon, buttonText, buttonIconSide} = Astro.props;

var color ="button_color_primary";
if(buttonColor) buttonColor = "button_color_" + color;

var size ="button_size_md";
if(buttonSize) buttonSize = "button_size_" + size;

var type ="button_type_filled";
if(buttonType) buttonType = "button_type_" + type;

if(!buttonText && !buttonIcon) buttonText = "text && icon";



---


<button class:list={['button', size, type, size]}>
    {buttonIcon && !buttonIconSide && <Icon class="button__icon" name={buttonIcon}/>}
    {buttonIcon && buttonIconSide == "left" && <Icon class="button__icon" name={buttonIcon}/>}
    {buttonIcon && buttonIconSide == "left-right" && <Icon class="button__icon" name={buttonIcon}/>}
    {buttonText && <span class="button__text">{buttonText}</span>}
    {buttonIcon && buttonIconSide == "right" && <Icon class="button__icon" name={buttonIcon}/>}
    {buttonIcon && buttonIconSide == "left-right" && <Icon class="button__icon" name={buttonIcon}/>}
</button>