---
import App from '#app/app.astro';
import MainMenu from '#widgets/mainMenu/ui/mainMenu.astro';
import BlockMenu from "#entities/blockMenu/ui/blockMenu.astro"
import MenuItem from "#entities/menuItem/ui/menuItem.astro";

const {pageTitle} = Astro.props;

const bgArea = '/bgArea_dark.jpg';
const areaTitle = 'Продуктовый UX/UI дизайнер';
const areaLink = "/designer";
const title = areaTitle +  '  |  ' + pageTitle;

---


<App pageTitle={title} bgImg={bgArea}>
    <div class="container">
        <MainMenu logoArea={areaTitle} logoLink={areaLink}>
            <div slot="menuContent">
                <BlockMenu>
                    <MenuItem href={areaLink} icon="home" text="Главная" />
                    <MenuItem href="/hot" icon="star" text="Популярное" />
                    <MenuItem href="/frash" icon="clock" text="Свежее" />
                    <MenuItem href="/feed" icon="airplay" text="Моя лента" />
                    <MenuItem href="/bookmarks" icon="bookmark" text="Закладки" />
                    <MenuItem href="/shop" icon="shopping-bag" text="Магазин" />
                    <MenuItem href="/video" icon="youtube" text="Видео" />
                    <MenuItem href="/photo" icon="image" text="Фото" />
                    <MenuItem href="/info" icon="info" text="Для работодателей" />
                </BlockMenu>
            </div>
        </MainMenu>
        <main>
            <slot name="pageContent"></slot>
        </main>
    </div>
</App>
