---
import App from "#app/app.astro";
import MainMenu from "#widgets/mainMenu/ui/mainMenu.vue";
import MobileMenu from "#widgets/mobileMenu/ui/mobileMenu.vue";
import MenuGroup from "#shared/menuGroup/menuGroup.vue";

const mobileMenuItems = [
    { icon: "home", href: "/designer", type: "mobile", text: "Главная" },
    { icon: "airplay", href: "/video", type: "mobile", text: "Видео" },
    { icon: "star", href: "/frash", type: "mobile", text: "Свежее" },
    { icon: "bookmark", href: "/bookmarks", type: "mobile", text: "Закладки" },
];

const desctopMenuItems = [
    { icon: "home", href: "/", text: "Главная", type: "desctop" },
    { icon: "star", href: "/hot", text: "Популярное", type: "desctop" },
    { icon: "clock", href: "/frash", text: "Свежее", type: "desctop" },
    { icon: "airplay", href: "/feed", text: "Моя лента", type: "desctop" },
    { icon: "bookmark", href: "/bookmarks", text: "Закладки", type: "desctop" },
    { icon: "shopping-bag", href: "/shop", text: "Магазин", type: "desctop" },
    { icon: "youtube", href: "/video", text: "Видео", type: "desctop" },
    { icon: "image", href: "/photo", text: "Фото", type: "desctop" },
    { icon: "info", href: "/info", text: "Для работодателей", type: "desctop" },
];

const {pageTitle} = Astro.props;

const bgArea = '/bgArea_dark.jpg';
const areaTitle = 'Продуктовый UX/UI дизайнер';
const areaLink = "/designer";
const title = areaTitle +  '  |  ' + pageTitle;
const currentLink = Astro.url.pathname;

---


<App class="body" pageTitle={title} bgImg={bgArea}>
    <aside>
        <MainMenu
        client:load
        currentLink={currentLink}
        logoArea={areaTitle}
        logoLink={areaLink}
        >
        <div slot="menuContent">
            <MenuGroup client:load groupItems={desctopMenuItems}></MenuGroup>
        </div>
        </MainMenu>
        <MobileMenu client:load menuItems={mobileMenuItems} currentLink={currentLink} logoArea={areaTitle} logoLink={areaLink}>

            <div slot="body">
                <MenuGroup client:load groupItems={desctopMenuItems}></MenuGroup>
            </div>
        </MobileMenu>
    </aside>
<main>
    <slot name="pageContent" />
</main>
</App>
