---
import App from "#app/app.astro";
import MainMenu from "#widgets/mainMenu/ui/mainMenu.astro";
import BlockMenu from "#entities/blockMenu/ui/blockMenu.astro";
import MenuItem from "#entities/menuItem/ui/menuItem.astro";

const { pageTitle } = Astro.props;

const bgArea = "/bgArea_dark.jpg";
const areaLink = "/writer";
const areaTitle = "Писатель / Сценарист";
const title = areaTitle + "  |  " + pageTitle;
---

<App pageTitle={title} bgImg={bgArea}>
    <div class="container">
        <MainMenu logoArea={areaTitle} logoLink={areaLink}>
            <div slot="menuContent">
                <BlockMenu>
                    <MenuItem href={areaLink} icon="feather/home" text="Главная" />
                    <MenuItem href="/hot" icon="feather/star" text="Популярное" />
                    <MenuItem href="/frash" icon="feather/clock" text="Свежее" />
                    <MenuItem href="/feed" icon="feather/airplay" text="Моя лента" />
                    <MenuItem href="/bookmarks" icon="feather/bookmark" text="Закладки" />
                    <MenuItem href="/shop" icon="feather/shopping-bag" text="Магазин" />
                    <MenuItem href="/video" icon="feather/youtube" text="Видео" />
                    <MenuItem href="/photo" icon="feather/image" text="Фото" />
                    <MenuItem href="/info" icon="feather/info" text="Для работодателей" />
                </BlockMenu>
            </div>
        </MainMenu>
    </div>
    <main>
        <slot name="pageContent" />
    </main>
</App>
